<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      .cgrey {
        color: lightgray;
      }
      .cblack {
        color: black;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <%
      let lastOne = '';
      let css = '';
      items.forEach(item => {
        if (lastOne !== item.date) {
          css = 'cblack'; lastOne = item.date;
        } else {
          css = 'cgrey';
      } %>
      <li>
        <span class="<%= css %>">[<%= item.date %>]</span> <%= item.topic %>
        <a href="<%= item.movie %>" target="_blank" rel="noreferrer">movie</a>
        <a href="<%= item.slide %>" target="_blank"rel="noreferrer">slide</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
