<!DOCTYPE html>
<html lang="ko">

<head>
  <title>방송 목록 - OKdevTV</title>
  <meta name="viewport" content="width=device-width, user-scalable=yes" />
  <link rel="stylesheet" href="/stylesheets/okdevtv-list.css" />
  <script>
    let repo = '';
    function search(evt) {
      const keyword = evt.currentTarget.value.toLowerCase();
      if (!repo) {
        repo = document.querySelectorAll('li');
      }
      let allData = repo;
      const filtered = [...allData].filter(function (e) {
        const text = e.innerText.toLowerCase();
        return text.includes(keyword);
      });
      let htmlFiltered = '';
      filtered.forEach(function (e) {
        htmlFiltered += e.outerHTML;
      });
      document.getElementById('list').innerHTML = htmlFiltered;
    }

    window.onload = function () {
      const el = document.getElementById('keyword');
      el.addEventListener('keyup', search);
    };
  </script>
</head>

<body>
  <h1>
    <%- title %>
  </h1>
  <nav>
    <ul>
      <li><a href="/okdevtv-list?p=Broadcast">재미있는 개발 이야기</a></li>
      <li><a href="/okdevtv-list?p=CastAll">전체 방송 목록</a></li>
      <li><a href="/okdevtv-list?p=Courses">커리큘럼</a></li>
    </ul>
  </nav>
  <p>Welcome to <a href="https://youtube.com/kenuheo">
      <%= desc %>
    </a></p>
  <input type="text" id="keyword" placeholder="search keyword" autocomplete="off">
  <ul id="list">
    <% let lastOne='' ; let css='' ; if (!items) { return; } items.forEach(item=> {
      if (lastOne !== item[0]) {
      css = 'cblack'; lastOne = item[0];
      } else {
      css = 'cgrey';
      } %>
      <li>
        <span class="<%= css %>">[<%= item[0] %>]</span>
        <%= item[1] %>
          <% if (item[2]) { %><a href="/f/<%= encodeURIComponent(item[2]) %>" target="_blank" rel="noreferrer">movie</a>
            <% } %>
              <% if (item[3]) { %><a href="/f/<%= encodeURIComponent(item[3]) %>" target="_blank"
                  rel="noreferrer">slide</a>
                <% } %>
      </li>
      <% }); %>
  </ul>
</body>

</html>
